<!-- <button disabled>Meu botão</button>

<button [attr.disabled]="false">Meu botão attr</button>

<button [disabled]="false">Meu botão prop</button>

<button appDisabled>Meu botão prop diretiva</button> -->

<!-- <p style="background-color: orange; color: white;">Parágrafo Normal</p>

<p [attr.style]="'background-color: orange; color: white;'">Attr</p>

<p [style]="'background-color: orange; color: white;'">Prop</p>

<p [style]="{
    backgroundColor: 'orange',
    color: 'white'
}">Prop Obj</p>

<p appStyle>Diretiva</p> -->

<!-- <p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">Attr</p>

<p [className]="'meu-texto meu-size'">Prop Class Name</p>

<p [class]="{
    'meu-texto': true,
    'meu-size': true
}">Prop Class</p>

<p appClass>Diretiva</p> -->

<!-- <input appListener /> -->

<!-- <input appInputBackground [appInputBackground]="appBgColor" tColor="white" />

<input appInputBackground [bgColor]="appBgColor" tColor="white" />

<input appInputBackground bgColor="orange" tColor="white" /> -->

<!-- <div #minhaDiv></div>

<div id="minha-outra-div"></div>

<button (click)="createElement()">Criar Elemento</button> -->

<!-- <div appFocusSecondInput></div>

<div appFocusSecondInput>
    <input placeholder="Input 1" />
    <input placeholder="Input 2" />
    <input placeholder="Input 3" />
</div>

<button (click)="createElement()">Criar Elemento</button> -->

<app-xss></app-xss>